<div class="wrapper wrapper_padding clearfix">
      <div class="col-1 about homepage_content">
        <h2>About</h2>
        <hr>
        <p>I am a graphics, UI/UX designer and developer, currently living in Queens, New York.</p>
        <p>I design and develop websites mainly for people who are starting their own businesses and mentor them with business tactics and how to get into the market. I also did a couple of mobile app designs too.</p>
        <p>Aside from this, I sometimes give lectures on UI/UX. My hobbies are playing games, travelling and making music.</p>
      </div>
      <div class="col-2 homepage_content">
        <h2>My writings</h2>
        <hr>

        <% @posts.each do |post| %>
        <h3><a href="#"><%= link_to post.title, post %></a></h3>
        <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
        <% end %>

      </div>
      <div class="col-3 homepage_content">
        <h2>My creations</h2>
        <hr>
        <% @projects.each do |project| %>
        <h3><a href="#"><%= link_to project.title, project %></a></h3>
        <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
        <% end %>
      </div>
    </div>
